@media only screen and (max-width: 460px) {
    header {
        height: 250px;
        font-size: 30px;
    }

    main {
       font-size: 50px; 
    }

    #container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #principle1 {
        grid-column: auto;
        grid-row: auto;
    }

    #principle2 {
        grid-column: auto;
        grid-row: auto;
    }

    #principle3 {
        grid-column: auto;
        grid-row: auto;
    }

    footer {
        height: 200px;
        font-size: 40px;
    }
    
}