@media (min-width: 50em) {
	/* Nav Menu */
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

    /* Home Page */
    #mainContent {
        display: grid;
        grid-template-columns: 1fr 2.5fr 1fr;
    }
    #event {
        grid-column: 1;
        grid-row: 1;
    }
    #hero {
        grid-column: span 1;
        grid-row: 1/span 2;
        height: auto;
        overflow: hidden;
    }
    #hero img {
        height: 100%;
        min-width: 1000px;
    }
    #weather {
        grid-column: 1;
        grid-row: 2;
    }
    #news {
        grid-column: span 1;
        grid-row: 3;
    }
    #join {
        grid-column: 1;
        grid-row: 3;
    }
    #spotlights {
        grid-column: 3;
        grid-row: 1/span 3;
        grid-template-columns: 1fr;
    }

    /* Discover Page */
    #discover-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #discover-main * {
        max-width: 100%;
        margin: 5px;
    }
    #discover-main img:hover {
        box-shadow: 0 0 10px #585858;
        transition: 0.2s;
    }
}