@media (min-width: 37.5em) {
	#mainContent {
        display: grid;
        grid-template-columns: 60% 40%;
    }
    #hero {
        grid-column: span 2;
        grid-row: 1;
    }
    #news {
        grid-column: span 2;
        grid-row: 2;
    }
    #spotlights {
        display: grid;
        grid-column: span 2;
        grid-row: 3;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #join {
        grid-column: span 2;
        grid-row: 4;
    }
    aside {
        margin-right: 1rem;
    }

    #footerflex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid white;
    }
    #footerflex div {
        padding-left: 2em;
        padding-right: 2em;
    }
    #footerMain {
        display: flex;
        align-items: center;
    }
    #footerLogo {
        padding: 0.5em;
    }
    #footerName {
        text-align: left;
    }
    #footerCopyright {
        margin: 1em;
        margin-top: 0.2em;
        border: hidden;
    }
}